<div class="pl-4">



{{ form_start(form.searchWord, {
    'attr': {'class': 'navbar-form navbar-right  form-inline text-white ml-5 ', 'action':path('handleSearch') }
 
}) }}

{{ form_end(form) }}
  
{{ form_widget(form.search, { 'label_attr': {'class': ''} }) }}

 </div>





